.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    gap: 10px;
    padding-bottom: 65px;
    

}

.right-side-head{
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    gap: 10px;
    margin-right: 10%;
    
}

#logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 10%;
}

/*SECTION 2 */

.section-two{
    display: flex;
    background-color: #1F2937;
    gap: 20px;
}

.left-side-section-two{
    flex-grow:1;
    margin-left: 10%;

}

.right-side-section-two{
    flex-grow: 1;
    width: 30%;
    height: auto;
    margin-right: 10%;
}

#top-left-second-section{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    margin-bottom: -18px;
    line-height: .95;
}

#sign-up{
    background-color: rgb(70, 136, 221);
    width:100px;
    height: 30px;
    margin-top: -28px;
}

.descript{
    color: #E5E7EB;
}

/* THIRD SECTION */



h1 {
    text-align: center;
}

.section-three{
    display: flex;
    justify-content: space-around;
    gap:100px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
}

.sect3-item{
    flex-direction: column;
    width: 450px;
    height: 230px;
   
    


}

.sect3-img{
    display: flex;
    height: auto;
    width: 120px;
    border: solid 4px blue;
    border-radius: 5px;
    text-align: center;
    margin:auto

}

.sect3-p {
    text-align: center;
}

/* SECTION 4 */

.section-four {
    background-color: #E5E7EB ;
    padding-left: 20%;
    padding-right: 20%; 
    padding-top: 80px;
    padding-bottom:80px ;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

#qoute-author{
    text-align: end;
}


/* FOOTER */

.footer {
    background-color: #3882F6;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    margin-top: 75px;
    margin-bottom: 75px;
    height: 100px;
    
}

.footer-left {
    flex-grow: 2;
    
    justify-content: center;
    border: solid 4px red;
}

#sign-up2 {
    flex-grow: 1;
    background-color: rgb(70, 136, 221);
    justify-content: center;
    border-radius: 5px;

}